{% extends "Sagenkarta-Admin/records_media_base.html" %}

{% block title %}
    Update {{ records_media }}
{% endblock %}

{% block content %}
<h1><a href={% url "records_media_list" %}>RecordsMedia</a></h1>
<h2>Update {{ records_media }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "records_media_detail" records_media.pk %}>Cancel</a>
<form style="display:inline;" action={% url "records_media_delete" records_media.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ records_media }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}