{% extends "sagenkarta_admin/records_media_base.html" %}

{% block title %}
    {{ records_media }}
{% endblock %}

{% block content %}
    <h1><a href={% url "records_media_list" %}>RecordsMedia</a></h1>
    <h2>{{ records_media }} | <a href={% url "records_media_update" records_media.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "records_media_delete" records_media.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ records_media }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}