{% extends "Sagenkarta-Admin/records_persons_base.html" %}

{% block title %}
    {{ records_persons }}
{% endblock %}

{% block content %}
    <h1><a href={% url "records_persons_list" %}>RecordsPersons</a></h1>
    <h2>{{ records_persons }} | <a href={% url "records_persons_update" records_persons.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "records_persons_delete" records_persons.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ records_persons }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}