{% extends "Sagenkarta-Admin/socken_base.html" %}

{% block title %}
    {{ socken }}
{% endblock %}

{% block content %}
    <h1><a href={% url "socken_list" %}>Socken</a></h1>
    <h2>{{ socken }} | <a href={% url "socken_update" socken.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "socken_delete" socken.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ socken }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}