{% extends "svenska_sagner/records_category_base.html" %}

{% block title %}
    RecordsCategorys
{% endblock %}

{% block content %}
    <h1>RecordsCategorys</h1>
    <h2><a href={% url "records_category_create" %}>Create new RecordsCategory</a></h2>
    <ul>
    {% for records_category in records_category_list %}
        <li><a href={% url "records_category_detail" records_category.pk %}>{{ records_category }}</a> | <a href={% url "records_category_update" records_category.pk %}>Update</a> | <form style="display:inline;" action={% url "records_category_delete" records_category.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ records_category }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No RecordsCategorys yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

