{% extends "svenska_sagner/records_media_base.html" %}

{% block title %}
    RecordsMedias
{% endblock %}

{% block content %}
    <h1>RecordsMedias</h1>
    <h2><a href={% url "records_media_create" %}>Create new RecordsMedia</a></h2>
    <ul>
    {% for records_media in records_media_list %}
        <li><a href={% url "records_media_detail" records_media.pk %}>{{ records_media }}</a> | <a href={% url "records_media_update" records_media.pk %}>Update</a> | <form style="display:inline;" action={% url "records_media_delete" records_media.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ records_media }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No RecordsMedias yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

