{% extends "Sagenkarta-Admin/persons_base.html" %}

{% block title %}
    {{ persons }}
{% endblock %}

{% block content %}
    <h1><a href={% url "persons_list" %}>Persons</a></h1>
    <h2>{{ persons }} | <a href={% url "persons_update" persons.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "persons_delete" persons.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ persons }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}