{% extends "sagenkarta_admin/categories_klintberg_base.html" %}

{% block title %}
    Update {{ categories_klintberg }}
{% endblock %}

{% block content %}
<h1><a href={% url "categories_klintberg_list" %}>CategoriesKlintberg</a></h1>
<h2>Update {{ categories_klintberg }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "categories_klintberg_detail" categories_klintberg.pk %}>Cancel</a>
<form style="display:inline;" action={% url "categories_klintberg_delete" categories_klintberg.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ categories_klintberg }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}