{% extends "sagenkarta_admin/socken_v1_base.html" %}

{% block title %}
    {{ socken_v1 }}
{% endblock %}

{% block content %}
    <h1><a href={% url "socken_v1_list" %}>SockenV1</a></h1>
    <h2>{{ socken_v1 }} | <a href={% url "socken_v1_update" socken_v1.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "socken_v1_delete" socken_v1.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ socken_v1 }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}